on:
    workflow_dispatch:

jobs:
    do-the-thing:
        name: test out role chaining account number
        permissions:
            id-token: write
        runs-on: ubuntu-latest
        steps:
            
          - name: first static
            id: static-1
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: arn:aws:iam::884348119369:role/static-role-1
                aws-access-key-id: STATIC_1_AK_ID
                aws-secret-access-key: STATIC_1_SECRET_AK
                aws-region: ca-central-1
                role-skip-session-tagging: true
          
          - name: second static
            id: static-2
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: arn:aws:iam::884348119369:role/static-role-2
                aws-access-key-id: STATIC_2_AK_ID
                aws-secret-access-key: STATIC_2_SECRET_AK
                aws-region: ca-central-1
                role-skip-session-tagging: true

          - name: static-spoke
            id: static-2-spoke
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: arn:aws:iam::884348119369:role/static-role-2-spoke
                aws-region: ca-central-1
                role-chaining: true
                role-skip-session-tagging: true
                mask-aws-account-id: false

          - name: Debug build spoke identity
            run: |
                aws sts get-caller-identity
                echo "STATIC_1_ACCOUNT=${{ steps.static-1.outputs.aws-account-id }}"
                echo "STATIC_1_ARN=${{ steps.static-1.outputs.authenticated-arn }}"
                echo "STATIC_2_ACCOUNT=${{ steps.static-2.outputs.aws-account-id }}"
                echo "STATIC_2_ARN=${{ steps.static-2.outputs.authenticated-arn }}"
                echo "2SPOKE_ACCOUNT=${{ steps.static-2-spoke.outputs.aws-account-id }}"
                echo "2SPOKE_ARN=${{ steps.static-2-spoke.outputs.authenticated-arn }}"