on:
    workflow_dispatch:

jobs:
    do-the-thing:
        name: test out role chaining account number
        permissions:
            id-token: write
        runs-on: ubuntu-latest
        steps:
          - name: first OIDC call
            id: assume-oidc
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                aws-region: ca-central-1
                role-skip-session-tagging: true
            
          - name: Assume Hub Role
            id: assume-hub
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ vars.IAM_ROLE_HUB }}
                aws-region: ca-central-1
                role-skip-session-tagging: true

          - name: Assume Spoke Role
            id: assume-spoke
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ vars.IAM_ROLE_SPOKE_DIFF_ACCOUNT }} 
                aws-region: ca-central-1
                role-chaining: true
                role-skip-session-tagging: true
                mask-aws-account-id: false

          - name: login again see what happens
            id: assume-L2-spoke
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ vars.IAM_ROLE_SECOND_LEVEL_SPOKE_DIFF_ACCOUNT }} 
                aws-region: ca-central-1
                role-chaining: true
                role-skip-session-tagging: true
                mask-aws-account-id: false

          - name: second OIDC call
            id: second-oidc
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
                aws-region: ca-central-1
                role-skip-session-tagging: true

          - name: checkout
            uses: actions/checkout@v5
            with:
                fetch-depth: 0
                persist-credentials: false
          - name: fetch token and write to file
            uses: actions/github-script@v7
            with:
                script: |
                    const fs = require('fs');
                    async function getIDTokenAction() {
                        const id_token = await core.getIDToken("sts.amazonaws.com");
                        return id_token;
                    }
                    const idToken = await getIDTokenAction();
                    fs.writeFileSync(".github/integ_token.txt", idToken, (err) => {
                        if (err) throw err;
                    });
          - name: web token id file
            id: web-token-id-assumer
            uses: aws-actions/configure-aws-credentials@v5
            with:
                aws-region: us-west-2
                role-to-assume: arn:aws:iam::891612571239:role/S3-Read-CAWSC-Test
                web-identity-token-file: .github/integ_token.txt
                retry-max-attempts: 4

          - name: Debug build spoke identity
            run: |
                aws sts get-caller-identity
                echo "ASSUME_OIDC_ACCOUNT=${{ steps.assume-oidc.outputs.aws-account-id }}"
                echo "ASSUME_OIDC_ARN=${{ steps.assume-oidc.outputs.authenticated-arn }}"
                echo "ASSUME_HUB_ACCOUNT=${{ steps.assume-hub.outputs.aws-account-id }}"
                echo "ASSUME_HUB_ARN=${{ steps.assume-hub.outputs.authenticated-arn }}"
                echo "ASSUME_SPOKE_ACCOUNT=${{ steps.assume-spoke.outputs.aws-account-id }}"
                echo "ASSUME_SPOKE_ARN=${{ steps.assume-spoke.outputs.authenticated-arn }}"
                echo "ASSUME_L2_SPOKE_ACCOUNT=${{ steps.assume-L2-spoke.outputs.aws-account-id }}"
                echo "ASSUME_L2_SPOKE_ARN=${{ steps.assume-L2-spoke.outputs.authenticated-arn }}"
                echo "ASSUME_OIDC_ACCOUNT2=${{ steps.second-oidc.outputs.aws-account-id }}"
                echo "ASSUME_OIDC_ARN2=${{ steps.second-oidc.outputs.authenticated-arn }}"
                echo "ASSUME_WEB_TOKEN_ACCOUNT=${{ steps.web-token-id-assumer.outputs.aws-account-id }}"
                echo "ASSUME_WEB_TOKEN_ARN=${{ steps.web-token-id-assumer.outputs.authenticated-arn }}"