on:
    workflow_dispatch:

jobs:
    do-the-thing:
        name: test out role chaining account number
        permissions:
            id-token: write
        runs-on: ubuntu-latest
        steps:
          - name: Assume Hub Role
            id: assume-hub
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ vars.IAM_ROLE_HUB }}
                aws-region: ca-central-1
                role-skip-session-tagging: true
                output-credentials: true

          - name: Assume Spoke Role
            id: assume-spoke
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: ${{ vars.IAM_ROLE_SPOKE_DIFF_ACCOUNT }} 
                aws-region: ca-central-1
                role-chaining: true
                role-skip-session-tagging: true
                mask-aws-account-id: false
                output-credentials: true

          - name: Debug build spoke identity
            run: |
                aws sts get-caller-identity
                echo "ASSUME_HUB_ACCOUNT=${{ steps.assume-hub.outputs.aws-account-id }}"
                echo "ASSUME_HUB_ARN=${{ steps.assume-hub.outputs.authenticated-arn }}"
                echo "ASSUME_SPOKE_ACCOUNT=${{ steps.assume-spoke.outputs.aws-account-id }}"
                echo "ASSUME_SPOKE_ARN=${{ steps.assume-spoke.outputs.authenticated-arn }}"