name: session tagging
on:
    workflow_dispatch:

jobs:
    do-the-thing:
        name: test session tags
        runs-on: ubuntu-latest
        steps:
          - name: first static
            id: static-1
            uses: aws-actions/configure-aws-credentials@v5
            with:
                role-to-assume: arn:aws:iam::884348119369:role/static-role-1
                aws-access-key-id: STATIC_1_AK_ID
                aws-secret-access-key: STATIC_1_SECRET_AK
                aws-region: ca-central-1

          - name: Debug build spoke identity
            run: |
                aws sts get-caller-identity