name: session tagging
on:
    workflow_dispatch:

jobs:
    do-the-thing:
        name: test session tags
        runs-on: ubuntu-latest
        steps:
          - name: assume role
            id: static-1
            uses: aws-actions/configure-aws-credentials@maintux-nn-feat/add-transitive-tag-keys
            with:
                role-to-assume: arn:aws:iam::884348119369:role/static-role-1
                aws-access-key-id: ${{ secrets.STATIC_1_AK_ID }}
                aws-secret-access-key: ${{ secrets.STATIC_1_SECRET_AK }}
                aws-region: ca-central-1
                retry-max-attempts: 6

          - name: role chain!
            uses: aws-actions/configure-aws-credentials@maintux-nn-feat/add-transitive-tag-keys
            with:
                role-to-assume: arn:aws:iam::884348119369:role/spoke-session-tag
                aws-region: ca-central-1
                retry-max-attempts: 6

          - name: see whos logged in
            run: aws sts get-caller-identity